@use "sass:color";

$primary-purple: hsl(271, 76%, 39%);
$border-dark: hsl(240, 4%, 12%);

.navbar {
  height: 80px; 
  margin-top: 0;
  color: #fff;
  border-bottom: 1px solid $border-dark;
  z-index: 1050;
}

