/* Importa Bootstrap */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Paleta dark */
:root {
  --bg-main: #16171A;
  --bg-secondary: #1e1f23;
  --text-color: #e7e8eb;
  --card-bg: #1d1e22;
  --accent: #6f42c1; /* roxo leve */
}

/* Reset global */
html, body {
  height: 100%;
  background: var(--bg-main);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}
