// Importe o seu styles.scss (ajuste o caminho se necessário)
@use '../styles.scss';

// O Mat-Toolbar é o header
.header {
    height: 64px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    z-index: 10;

    .spacer {
        flex-grow: 1;
    }
    
    button {
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.1);
        }
        mat-icon {
            color: white; 
        }
    }

    .app-title {
        font-size: 1.5rem; 
        font-weight: 700;  
        margin: 0;         
        line-height: 1;   
    }
}

// O Mat-Sidenav-Container é o container principal
.app-container {
    height: calc(100vh - 64px);
    
    // Estilos para a barra lateral (mat-sidenav)
    .sidebar {
        width: 400px;
        background-color: var(--color-surface); 
        border-right: 1px solid var(--color-divider);
        
        // Estilização interna da Sidebar (Onde o <app-sidebar> reside)
        .mat-drawer-inner-container {
            padding: 20px 0;
            color: var(--color-text); 
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease, border-color 0.3s ease;
        }
    }

    // Estilos para a área principal (mat-sidenav-content)
    .mat-sidenav-content {
        // Fundo da área principal
        background-color: var(--color-background); 
        transition: background-color 0.3s ease;
        
        .mat-content {
            padding: 20px;
            height: 100%; /* Ocupa toda a altura restante */
        }
    }
}
