:host {
    display: flex;
    flex-direction: column;
    height: 100%; 
    padding: 20px;
    box-sizing: border-box;
}

.toggle-switch {
    margin-bottom: 20px;
}

.content-area {
    flex-grow: 1; 
    overflow-y: auto;
}